.top-bar-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #313545;
  padding-right: 30px;
  padding-left: 30px;
}

.top-bar-left {
  align-items: center;
  color: white;
}

.top-bar-title {
  color: white;
  padding-left: 30px;
  font-size: 20px;
}

.top-bar-right {
  justify-content: center;
  color: white;
  background: #313545;
}

.top-bar-hover:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition-duration: 0.3s;
}

.side-menu {
  height: calc(100vh);
  width: 220px;
  position: fixed;
  background-color: whitesmoke;
  top:60px;
  left:0px;
  z-index: 1;
  flex-direction: column;
  padding-left: 30px;
}

.side-menu-enter {
  left:-220px;
}

.side-menu-enter-active {
  left:0px;
  transition-duration: 500ms;
}

.side-menu-exit {
  left:0px;
}

.side-menu-exit-active {
  left:-220px;
  transition-duration: 500ms;
}

.side-menu-menuitem {
  align-items: center;
  padding-top: 20px;
}

.side-menu-menuitem:hover {
  filter: brightness(80%); 
}

.side-menu-menuitem-text {
  align-items: center;
  padding-left: 20px;
}