.home-page-heading {
  font-size: 36px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.home-page-text {
  font-size: 18px;
  padding-top: 20px;  
}

.home-page-button-menu {
  padding-top: 40px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-page-button-container {
  max-width: 320px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  border: solid 1px gray;
}

.home-page-button-icon {
  padding-bottom: 20px;
  color: #313545;
}