.login-page-container {
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.login-logo-container {
  width: 100%;
  justify-content: center;
  padding: 20px;
}

.login-logo {
  height: 60px;
  width: 60px;
  background-color: darkgray;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-form {
  flex-direction: column;
}

.login-button {
  justify-content: center;
  padding: 10px;
}

.login-message {
  width: 100%;
  justify-content: center;
  border: 1px solid red;
  color: red;
  padding: 5px;
  margin: 5px;
}

.login-message-success {
  width: 100%;
  justify-content: center;
  border: 1px solid green;
  color: green;
  padding: 5px;
  margin: 5px;  
}

.login-register-message {
  padding: 10px;
}