.full-page {
  width: 100vw;
  padding: 20px;
  background-color: #EEEEEE;
  justify-content: center;
}

.width-limited-container {
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.width-limited-page {
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  background-color: white;
}

.no-scroll-page {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
}