.button {
  justify-content: center;
  width: 100%;
  min-width: 40px;
  max-width: 200px;
  padding: 5px;
  background-color: grey;
  color: white;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition-duration: 0.3s;
}

.top-bar-button {
  justify-content: center;
  color: white; 
}

.top-bar-button:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition-duration: 0.3s;
}