.loading-container {
  justify-content: center;
  min-height: 300px;
  width: 100%;
  align-items: center;
}

.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 10px solid gray;
  animation: loading-spin 1.5s linear infinite;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}