.line-path {
  stroke: darkblue;
  stroke-width: 2px;
  fill: none;
}

.line-path:hover {
  stroke-width: 4px;
  transition-duration: 0.2s;
}

.line-axis {
  stroke: #000000;
}

.line-axis-labels line {
  stroke: #000000;
  stroke-width: 1px;
}

.line-axis-labels text {
  fill: #000000;
  fill-opacity: 0.9;
  font-size: 12px;
  text-anchor: middle;
}